{% extends "basehtml.html" %}

{% load staticfiles %}

{% block 'title' %}Report a bug{% endblock %}

{% block 'content' %}
    <p style="padding-bottom: 1px;"></p>
    <center><h2>REPORT A BUG</h2></center>
    <form method="post" action="/account/bug/">
        {% csrf_token %}
        <table id="registerframe">    
            {% if error %}
            <tr><td><span id="errorbox">{{ error }}</td></tr>
            <tr><td><p style="padding-bottom: 2px;"></p></td></tr>
            {% endif %}
            
            <tr><td>Title</td></tr>
            <tr><td><input name="title" type="text"/></td></tr>
            <tr><td><p style="padding-bottom: 6px;"></p></td></tr>
            
            <tr><td>Please describe what happened <i>in details</i> and <i>steps to reproduce</i>. Please note that we <i>won't</i> get back to you unless we need more info about the reported bug.</td></tr>
            <tr><td>Toontips:</td></tr>
            <tr><td>
                <ul>
                    <li>Avoid reporting multiples bugs at once. Fill this form once per bug.</li>
                    <li>Do not make broad reports (eg. don't say just "I can't play"), be specific about your issue.</li>
                    <li>If the bug is not about the game itself (eg. site or launcher), make it clear.</li>
                </ul>
            </td></tr>
            <tr><td><textarea name="data" rows="10" cols="50"></textarea></td></tr>
            <tr><td><p style="padding-bottom: 6px;"></p></td></tr>

            <tr><td><div id="recaptcha" align="center"></div></tr></td>
            {% if error_captcha %}
                <tr><td>
                    <span id="errorbox">{{ error_captcha }}</span>
                </td></tr>
            {% endif %}

            <tr><td><input type="image" src="{% static 'img/reportBug.png' %}" height="35" width="154"></td></tr>
        </table>
    </form>
{% endblock %}
