{% extends "basehtml.html" %}

{% load staticfiles %}

{% block 'head' %}
    <title>Toontown Next | Change Password</title>
{% endblock %}

{% block 'content' %}
    <p style="padding-bottom: 1px;"></p>
    <center><h2>CHANGE PASSWORD</h2></center>
    <form method="post" action="/account/changepassword/">
        {% csrf_token %}
        <table id="registerframe">    
            {% if error %}
            <tr><td><span id="errorbox">{{ error }}</td></tr>
            <tr><td><p style="padding-bottom: 2px;"></p></td></tr>
            {% endif %}
            
            <tr><td>Old password</td></tr>
            <tr><td><input name="oldpassword" type="password"/></td></tr>
            <tr><td><p style="padding-bottom: 6px;"></p></td></tr>
            
            <tr><td>New password</td></tr>
            <tr><td><input name="password" type="password"/></td></tr>
            <tr><td><p style="padding-bottom: 6px;"></p></td></tr>
            
            <tr><td>New password (confirm)</td></tr>
            <tr><td><input name="password2" type="password"/></td></tr>
            <tr><td><p style="padding-bottom: 6px;"></p></td></tr>
            
            <tr><td><input type="image" src="{% static 'img/changePassBtn.png' %}" height="35" width="154"></td></tr>
        </table>
    </form>
{% endblock %}
