{% extends "basehtml.html" %}

{% load staticfiles %}

{% block 'title' %}Success{% endblock %}

{% block 'content' %}
    <br>
    <div align="center">
        <p>{{ context }}</p>
        {{ extra|safe }}
        {% if want_login %}
            <a href="/login"><img src="{% static 'img/loginBtnS.png' %}" height="30" width="120"/></img></a>
            <br>
        {% endif %}
        <a href="/"><img src="{% static 'img/FrontPageBtn.png' %}" height="30" width="120"></a>
    </div>
{% endblock %}
