body {
    background-color: #d0e4fe;
}

#postpicblock {
    display: block;
    width: 100%;
    overflow: hidden;
}

#posttable {
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

#posttitle {
    font-size:36px;
}

#registerframe {
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

#registerframe td {
    text-align: center; 
    vertical-align: middle;
}

#errorbox {
    color: #E21A21;
}

#commentboxuser {
    width: 100%;
    padding: 1px;
    background-color: #32a6e3;
}

#commentboxuserstaff {
    width: 100%;
    padding: 1px;
    background-color: #2c7ed0;
}

#commentboxuserstaff_cog {
    width: 100%;
    padding: 1px;
    background-color: #828282;
}

.marker
{
	background-color: Yellow;
}

p
{
    font-family: sans-serif;
}

span
{
    font-family: sans-serif;
}

a
{
    font-family: sans-serif;
}
