{% extends "basehtml.html" %}

{% load staticfiles %}

{% block 'title' %}News{% endblock %}

{% block 'content' %}
    <br>
    {% if news_list %}
        {% for news in news_list %}
            <div id="posttable">
                <span id="posttitle">
                    <a href="/news/post/{{ news.id }}">{{ news.title }}</a>
                </span>
                <p>Posted on <b>{{ news.date }}</b></p> <!-- by -->
                <img src="/{{ news.pic }}" alt="{{ news.title }}" style="width: 105%; position: relative; left: -10px; height: 250px;"></img>
                <p>{{ news.commentinfo }}</p>
            </div>
            <img src="/static/img/line.gif" border="0" height="1"><br>
        {% endfor %}
    {% else %}
        <div id="posttable" align="center">
            <span style="font-size: 20px;">No posts available.</span>
        </div>
    {% endif %}
{% endblock %}
