{% extends "basehtml.html" %}

{% load staticfiles %}

{% block 'title' %}Play Now{% endblock %}

{% block 'content' %}
<div id="main" align="center">
    <h1>Play now!</h1>
    <p>Toontown Next is only available on Windows at the moment.</p>
    <br>

    <a href="{% static 'TTN_win32_setup.exe' %}">
        <img src="{% static 'img/download_win.png' %}"></img>
    </a><br>

    <a href="#">
        <img src="{% static 'img/download_linux.png' %}"></img>
    </a><br>

    <a href="#">
        <img src="{% static 'img/download_mac.png' %}"></img>
    </a><br>
</div>
{% endblock %}
